/*
- Font sizes
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Spacing Systemms
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Grays:
#767676
#888
#555
#333

*/

.container {
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  background-color: #f3f4f4;
  box-shadow: -2px 2px 15px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

/* DASHBOARED-section */
.sectionDashboared {
}

h1 {
  color: #111;
  font-size: 3rem;
  font-weight: 500;
}

.dashboaredHeader {
}

.dataSection {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.card {
  width: 24rem;
  height: 12rem;
  padding: 2.4rem 2rem;
  border-radius: 8px;
  background-color: #185c3b;
  /* background-color: #fff; */
  box-shadow: -2px 2px 15px 5px rgba(255, 255, 255, 0.5);
  /* font-size: 1.8rem; */
  display: grid;
  color: white;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2rem;
  font-size: 1.7rem;
}
.cardIcon {
  width: 3.2rem;
  height: 3.2rem;

  rotate: calc(-35deg);
  background-color: white;
  /* padding: 0.5rem; */
  border-radius: 50%;
  color: black;
  /* font-size: 2rem; */
  align-self: center;
}

.cardDescription {
  font-size: 5.2rem;
  align-self: center;
  line-height: 1;
}

.cardInfo {
  align-self: end;
  font-size: 1rem;
}
