/*
- Font sizes
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Spacing Systemms
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Grays:
#767676
#888
#555
#333

*/

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  height: 8rem;
  padding: 4.8rem;
}

.navigationSection {
  margin-left: -9.8rem;
}

.logo {
  height: 8.6rem;
}

.mainNavList {
  display: flex;
  gap: 4.8rem;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-family: "Inter";
}

.mainNavLink:link,
.mainNavLink:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
}
.mainNavLink:hover {
  color: #666;
  transition: all 0.2s ease-in-out;
}

/* --THEME */
.themeIcon {
  cursor: pointer;
}

/* --PROFILE */
.profileSection {
  display: flex;
  column-gap: 2rem;
  align-items: center;

  /* border: 3px solid rgba(0, 0, 0, 0.08); */
}

.profile {
  text-align: center;
  border-radius: 20%;

  height: 4.4rem;
  width: 4.4rem;
  border-radius: 10%;

  /* box-shadow: 1px 1px 1px 2px rgba(3, 3, 3, 0.1); */
}

.profileInfo {
  display: grid;
}
.profileInfo p {
  font-size: 1.8rem;
  /* font-weight: 500; */
  margin: 0;
}
.profileInfo p:last-child {
  /* font-size: 2rem; */
  font-weight: 500;
  /* font-style: italic; */
}

/* ICONS */
.icons {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  font-size: 6rem;
  align-items: center;
  border-radius: 17%;
  overflow: hidden;

  box-shadow: 0 1px 1rem 3px rgba(3, 3, 3, 0.1);
}
/*   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  overflow: hidden; */
